*.iml
.gradle
.kotlin
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
.env
debug.keystore

# Bundled models (big; created by tools/fetch_models.sh)
/app/src/main/assets/models/*.zip
/app/src/main/assets/models/*.onnx
/app/src/main/assets/models/*.json
/app/src/main/assets/models/*.part
